*, *::before, *::after {
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: 'nunitobold';
    src: url('../fonts/nunito-bold-webfont.eot');
    src: url('../fonts/nunito-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito-bold-webfont.woff2') format('woff2'),
         url('../fonts/nunito-bold-webfont.woff') format('woff'),
         url('../fonts/nunito-bold-webfont.ttf') format('truetype'),
         url('../fonts/nunito-bold-webfont.svg#nunitobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitolight';
    src: url('../fonts/nunito-light-webfont.eot');
    src: url('../fonts/nunito-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito-light-webfont.woff2') format('woff2'),
         url('../fonts/nunito-light-webfont.woff') format('woff'),
         url('../fonts/nunito-light-webfont.ttf') format('truetype'),
         url('../fonts/nunito-light-webfont.svg#nunitolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-size: 100%;
    font-family: 'nunitolight', Arial;
    background-color: #4A03B5;
    color: white;
}

main {
    text-align: center;
    margin: 5px;
}

#timer {
    font-size: 5em;
}

button {
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5%;
    margin: 2% 0;
    color: white;
}

.btn-start {
    background-color: #13D4B4;
}

.btn-set {
    background-color: #0CA8E8;
}

#message {
    position: absolute;
    width: 90%;
    top: 60px;
    background-color: #D45FFF;
    padding: 5%;
    border-radius: 5px;
}

#message::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: red;
}

.hidden {
    display: none;
}